<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title> My blog </title>
    </head>

    <p> utilisteur authentifie ? : {{user.is_authenticated}} </p>

    <body>
        <h1> Ajouter un nouveau post. </h1>
        <p>
            <strong>
                {{message}}
            </strong>     
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Envoyer">
        </form>
    </body>
</html>