<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title> My blog </title>
    </head>
    <body>
        <h1> Details sur un post </h1>
        <h2>{{thePost.title}}</h2>
        <p>{{thePost.content}}</p>
        <p><em>Cree le : {{thePost.created_at}}</em></p>

        <h3> Comments </h3>
        {% for comment in comments%}
        <div>
            <p><strong>{{comment.author}} on {{comment.created_at}}</strong></p>
            <p> {{comment.content}}</p>
        </div>
        {% empty %}
        <p> No comment yet.</p>
        {% endfor %}
 
        <a href="{% url 'posts' %}"> Retour a la liste des posts</a>

        {% if perms.post.delete_post %}
            <a href="{% url 'delete' thePost.id %}"> Supprimer le post </a>
        {% endif %}

        {% if perms.post.change_post %}
            <a href="{% url 'update' thePost.id %}"> Modifier le post </a>
        {% endif %}
    </body>
</html>